<nav class="navbar navbar-expand-xxl navbar-light " aria-label="Seventh navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" >Sistema de Gestión de Estudiantes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleXxl">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Profesores</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownXxl" data-bs-toggle="dropdown" aria-expanded="false">Facultad</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownXxl">
              <li><a class="dropdown-item" href="#">Grupos</a></li>
              <li><a class="dropdown-item" href="#">Gestión </a></li>
              <li><a class="dropdown-item" href="#">Planes de Estudio</a></li>
             
            </ul>
          </li>
        </ul>
        <h3>
            <strong>
            <em>Centro Universitario José Antonio Echeverría</em>
            </strong>
        </h3>
        
      </div>
    </div>
  </nav>