<!-- <app-openmap [data]="{ minLat: 25.671235803, caretRadio: 20, minSignal: -200, maxSignal: 10 }"></app-openmap> -->
<!-- <div class="container">-->
    <!-- <iframe src="http://192.168.152.128:3000/d/7Gktr87Wk/monitoring?orgld=1&refresh=10s" frameborder="0" width="auto" height="595px" allowfullscreen></iframe>-->
   
  <!--  </div>-->
   
   
   
    <div id="map">
           <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
         </div>
       
        
   