
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Coordenadas</th>
        <th scope="col">Acción</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let passenger of passengers_list">
        <td class="textonly">{{passenger.id}}</td>
        <td class="textonly">{{passenger.name}}</td>
        <td class="textonly">{{passenger.address}}</td>
        <td class="textonly">[{{passenger.coord_x}} ; {{passenger.coord_y}}]</td>
        <td>
          <button class="column4 btn btn-outline-dark"  >Editar</button>
          <button class="column4 btn btn-outline-dark" >Eliminar</button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>




<!--
<table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let passenger of passengers_list; let i = index">
      <th scope="row">{{passenger.id}}</th>
      <td>{{passenger.name}}</td>
      <td>{{passenger.address}}</td>
      <td>{{passenger.address}}</td>
    </tr>
    <tr *ngFor="let passenger of passengers_list; let i = index">
      <th scope="row">{{passenger.id}}</th>
      <td>{{passenger.name}}</td>
      <td>{{passenger.address}}</td>
      <td>{{passenger.address}}</td>
    </tr>
    <tr *ngFor="let passenger of passengers_list; let i = index">
      <th scope="row">{{passenger.id}}</th>
      <td>{{passenger.name}}</td>
      <td>{{passenger.address}}</td>
      <td>{{passenger.address}}</td>
    </tr>
    <tr *ngFor="let passenger of passengers_list; let i = index">
      <th scope="row">{{passenger.id}}</th>
      <td>{{passenger.name}}</td>
      <td>{{passenger.address}}</td>
      <td>{{passenger.address}}</td>
    </tr>
  </tbody>
</table>
-->